@use "../util/functions" as util;
@use "../global/variables" as var;
@use "../global/typography" as fonts;

body {
    font-family: "Montserrat";

    animation-duration: 3s;
    animation-name: fade-in;

    background-color: var(--blue-dark);

    @keyframes fade-in {
        from {
            opacity: 0%;
        }
    }

    to {
        opacity: 100%;
    }
}

.container {
    display: grid;
    justify-items: center;
    align-items: center;

    min-height: 100vh;
}

.contents {
    display: grid;
    grid-template: auto auto auto / 1fr;
    justify-items: center;

    height: 100%;

    padding: util.rem(32) 0;

    &__header {
        font-size: fonts.$header-main;

        margin-bottom: util.rem(128);

        -webkit-text-stroke-width: 0.1875rem;
        -webkit-text-stroke-color: var(--white);
    }

    &__team {
        display: grid;
        justify-items: center;
        row-gap: util.rem(16);

        margin-bottom: util.rem(64);
    }

    &__guests {
        display: grid;
        justify-items: center;
        row-gap: util.rem(16);
    }
}

.header-s {
    font-size: fonts.$header-sub;

    -webkit-text-stroke-width: 0.1875rem;
    -webkit-text-stroke-color: var(--white);
}

.member-card {
    display: grid;
    align-items: end;

    width: util.rem(260);
    height: util.rem(260);

    background-color: var(--gray-dark);
    background-size: cover;

    border-radius: util.rem(32);

    border-style: solid;
    border-width: util.rem(3);

    box-shadow: 0 util.rem(4) util.rem(8) 0 rgba(0, 0, 0, 0.4);

    transition: all 0.2s ease-in-out;

    overflow: hidden;

    &__info {
        display: grid;
        grid-template: auto auto / auto;
        align-content: center;

        background-color: rgba(0, 0, 0, 0.400);

        padding: util.rem(4) util.rem(16);

        backdrop-filter: blur(4rem);

        &__text {
            text-align: center;
            padding: util.rem(4) 0 0 0;

            font-weight: 500;
            font-size: fonts.$card;
        }

        &__icons {
            display: grid;
            grid-template: auto / 1fr 1fr;

            justify-items: center;
            align-items: center;
        }

        &__icon {
            height: util.rem(32);
            width: util.rem(32);

            transition: all 0.2s ease-in-out;
        }
    }
}

// Babylon Team card backgrounds
.enragedhybrid {
    background-image: url("../../../assets/images/enragedhybrid.png");
}

.hypnobun {
    background-image: url("../../../assets/images/hypnobun.jpeg");
}

.laughingotter13 {
    background-image: url("../../../assets/images/laughingotter13.jpeg");
}

.lhoke7598 {
    background-image: url("../../../assets/images/Lhoke7598.jpg");
}

.miffix {
    background-image: url("../../../assets/images/miffix.png");
}

.trustmeiexist {
    background-image: url("../../../assets/images/trustmeiexist.png");
    background-position-x: center;
}

.voidquail {
    background-image: url("../../../assets/images/voidquail.jpg");
    background-position-y: 70%;
}

// Babylon Guests card backgrounds
.azureberry {
    background-image: url("../../../assets/images/azureberry.png");
}

.azurecurrents {
    background-image: url("../../../assets/images/azurecurrents.png");
}

.chimeradragonfang {
    background-image: url("../../../assets/images/chimeradragonfang.png");
}

.crystalda3h {
    background-image: url("../../../assets/images/crystalda3h.png");
}

.dyno {
    background-image: url("../../../assets/images/dyno.jpg");
    background-position-y: 80%;
}

.jonas {
    background-image: url("../../../assets/images/jonas.jpg");
}

.kitsunaokami {
    background-image: url("../../../assets/images/kitsunaokami.png");
}

.noxkitsune {
    background-image: url("../../../assets/images/noxkitsune.jpg");
}

.peaheadpeaheadinc {
    background-image: url("../../../assets/images/peaheadpeaheadinc.jpg");
}

.rainheinrik {
    background-image: url("../../../assets/images/rainheinrik.png");
}

.skoomasquad {
    background-image: url("../../../assets/images/skoomasquad.png");
}

.theunknownetc {
    background-image: url("../../../assets/images/theunknownetc.jpg");
}

.vivybnuuy {
    background-image: url("../../../assets/images/vivybnuuy.png");
}

.weirdnessmaster {
    background-image: url("../../../assets/images/weirdnessmaster.png");
}



.row {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    column-gap: util.rem(16);

    justify-items: center;
}