// Colors
:root {
    --white: rgb(255, 255, 255);
    --blue-light: rgb(0, 100, 148);
    --blue-dark: rgb(19, 41, 61);
    --gray-dark: rgb(51, 51, 51);

    // Card specific colors
    // Team
    --enragedhybrid: rgba(0, 60, 133, 0.4);
    --hypnobun: rgb(100, 47, 151);
    --laughingotter13: rgb(155, 109, 43);
    --lhoke7598: rgb(26, 42, 96);
    --miffix: rgba(125, 139, 71, 0.6);
    --trustmeiexist: rgb(239, 85, 55);
    --voidquail: rgba(47, 36, 99, 0.4);

    // Guests
    
}